<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/body.css" />
    <link rel="stylesheet" type="text/css" href="css/posts.css" />
    <title>Diary - My Posts</title>
  </head>
  <body class="container">
    <%- include("partials/headerLogedin")%>

    <div class="posts">
      <% posts.forEach((post)=>{ %>

      <br />
      <div class="post" id="<%=post.id %>">
        <span class="info">Title</span><br />
        <textarea disabled name="title" cols="15" rows="1">
<%=post.title%></textarea
        ><br />
        <span class="info">Date</span><br /><%=post.date%><br />
        <span class="info">Mood</span><br /><%=post.mood%><br />
        <textarea name="" id="" cols="20" rows="1" disabled>
<%=post.body%></textarea
        >
        <br />
        <div class="buttons">
          <a href="edit?id=<%=post.id %>"
            ><img
              class="editButton"
              src="images/pencil.svg"
              alt="PencilIcon"
              srcset=""
          /></a>
          <button onclick="deletePost('<%=post.id %>')"></button>
        </div>
      </div>
      <br />

      <% }) %>
    </div>
    <%- include('partials/footer') %>

    <script src="scripts/script.js"></script>
  </body>
</html>
