<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/headInfos")%>

    <link rel="stylesheet" type="text/css" href="css/profile.css" />
    <title>Diary - Profile</title>
  </head>
  <body class="container">
    <%- include("partials/headerLogedin")%>

    <div class="profile">
      Welcome!<br />
      <span class="username"><%=userInfos.name %>.</span><br />
      You have already write:<br /><span class="numbers"
        ><%=userInfos.posts %> Posts</span
      >
      <br />
      Days with positive mood: <br /><span class="numbers"
        ><%=userInfos.countPositive %></span
      >
      <br />
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
